@import url('https://fonts.cdnfonts.com/css/public-pixel');

.app {
    display:flex;
    flex-direction: column;
}

body {
    margin: 0;
    background-color: #010101;
    color:rgb(239, 239, 239);
    background-image: url('/images/mainmenu_placeholder.png');
    background-repeat: repeat-x;
    background-size:contain;
    overflow-x:hidden;
}

ul, li {
    list-style-type: none;
}

#page-container {
    position: relative;
    min-height: 100vh;
}
#content-wrap { /*Content won't go behind footer*/
    padding-bottom: 5rem;
}

img {
    max-width:100%;
    height:auto;
}

#socialmedias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.smedia-item {
    margin-right: 15px;
}
#socialmedis {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.smedia-itm {
    margin-right: 15px;
}

.verticalline {
    width: 3px;
    background-color: rgb(239, 239, 239);
    height: 50%;
    margin: 2rem;
    border-radius: 30px;
}

p {
    text-align:left;
}

main {
    display:flex;
    flex-direction: column;
    align-items:center;
}

.contents {
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 8rem;
    background-color: rgba(0, 0, 0, 0.9);
    border: 2px solid #4A025E;
    text-align:center
}

.creators {
    text-align: left;
}
.creators li {
    padding: 0.8rem;
}
.normal {
    margin-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    width: 80%;
}

h1 {
    font-family: 'public pixel';
    font-size:2rem;
    text-align:center;
    margin-bottom: 3rem;
    padding-top: 3rem;
    text-transform: uppercase;
    -webkit-text-stroke:2px black;
    font-weight:900;
    background: -webkit-linear-gradient(#910F93, #4A025E);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-family: 'public pixel';
    font-size:1.5rem;
    text-align:center;
    margin-bottom: 3rem;
    padding-top: 3rem;
    text-transform: uppercase;
    font-weight:900;
    color:white
}

article {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.section {
    margin-top: 1rem;
}

.one {
    margin-top:5%;
}

.two {
    margin-top: 50vh;
}

/* Screenshot section */
.three {
    position:relative;
    display: flex;
    flex-direction: row;
    height: 50vh;
    flex-wrap:nowrap;
    background-color: black;
    border: 5px solid rgb(11, 11, 11);
    overflow: hidden;
}
.ssimg {
    padding:2px
}
.ssimg img {
    width: 50vw;
}
.pipe {
    width: 100vw;
    height: 52px;
    background-repeat: repeat-x;
    background-size: contain;
}
.blue {
    background-image: url('/images/textures/pipe_blue.png');
    margin: 2rem 0 5rem 0;
    overflow:hidden;
}
.red {
    background-image: url('/images/textures/pipe_red.png');
    margin: 5rem 0 2rem 0;
    overflow:hidden;
}
.pipe-container {
    display:flex;
    flex-direction: column;
    background-image: url('/images/textures/wallfence.png');
    background-size:contain;
    overflow:hidden;
}


/* Features section */
.four {
    margin-top: 10vh;
    display:flex;
    align-items:center;
    flex-direction: column;
}
.enemyH2 {
    margin-top: 20vh;
}

.rd-container {
    display:flex;
    flex-wrap: nowrap;
    position:relative;
    flex-direction: row;
    width: 100vw;
    height: 60vh;
    justify-content: center;
    overflow: hidden;
}

.ranks {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    gap: 1rem;
    justify-content: center;
}
.download {
    position:absolute;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction:column;
    align-items: center;
}


.area {
    position:relative;
    display:flex;
    flex-direction: column;
    align-items:center;
    overflow:hidden;
    flex-wrap: nowrap;
}
.handgun img {
    max-width: none;
}
.enemies {
    position:relative;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    gap: 1rem;
}

.e-2 {
    margin-top: 2rem;
}

/* Sprite animations */
:root {
    --gun-pixelsize: 2.5
}
.pixelart {
    image-rendering: pixelated;
}
.handgun {
    height: calc(73px * var(--gun-pixelsize));
    width: calc(58px * var(--gun-pixelsize));
    overflow:hidden;
    transform: translateX(80%);
    margin-top: 2rem;
}
.handgun_spritesheet {
    width: calc(290px * var(--gun-pixelsize));
}
.shoot {
    width: calc(290px * var(--gun-pixelsize));
    animation: moveSprite 0.5s steps(5);
}

@keyframes moveSprite {
    0% {
        transform: translate3d(0px,0,0)
    }
    100% {
        transform: translate3d(-100%,0,0);
    }
}

/* Responsivity */

@media screen and (max-width: 350px) {
    .smedia-item {
        display:none;
    }
    .verticalline {
        display:none;
    }

}
@media screen and (max-width: 400px) {

    h2 {
        font-size: 1rem;
    }
}

/* Extra-small devices such as small phones (less than 640px) */
@media screen and (max-width: 640px) {
    .pipe {
        height: 26px !important;
    }
    .footer-text {
        font-size: 0.7rem !important;
        margin-left: 1rem;
    }
    #toptext {
        font-size: 0.9rem !important;
    }
    .trailer {
		width: 80vw;
	}
    :root {
        --gun-pixelsize: 2 !important;
    }
    #message1, #message3 {
        font-size: 0.9rem !important;
    }
    #message2 {
        font-size: 1rem !important;
    }
    h1 {
        font-size: 1.5rem;
    }
    .contents {
        padding: 1rem !important;
        border: 0px solid white !important; 
    }
    .modalBtn {
        height: 50px !important;
		width: 200px !important;
        font-size: 0.9rem !important;
    }
    .modal {
        margin: 0.5rem !important;
        margin-top: 0 !important;

    }
}


/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
    .trailer {
        width: 90vw;
    }
    .hamburger {
        visibility: hidden;
    }

}

/* Medium devices such as tablets (768px and up) */
@media screen and (min-width: 768px) {
    
}

/* Header responsivity */
@media screen and (max-width: 890px) {
    .playButtonDiv {
        display:none;
    }
    .navitem {
        display:none;
    }
    .hamburger {
        visibility: visible;
    }
    .modal {
        max-width: 95vw !important;
    }
    .contents {
        min-width: 100%;
    }

}

/* Large devices such as laptops (1024px and up) */
@media screen and (min-width: 1024px) {
    .trailer {
        width: 70vw;
    }
    .steam {
        width: 40% !important;
    }
}

/* Largest devices such as desktops (1280px and up) */
@media screen and (min-width: 1280px) {
    .trailer {
        width: 50vw;
    }
}